.img{
	position: static;
	display: inline-block;
	padding-top: 35px;
}
h2{
	font-family: courier;
	margin: 4% 0% 0% 10%;
}
hr{
	height: 5px;
	background: #000000;
	margin-left: 10%;
	margin-right: 82%;
}
img{
	width: 270px;
	height: 270px;
	opacity: .7;
}
/* yoli y ado */
.yoli{
	padding-left: 160px;
}
/* Mago y yetza Aris y miriam*/
.mago{
	padding-left: 60px;
}
/* nombres */
.nombre{
	position: absolute;
	padding-left: 180px;
	padding-top: 230px;
	font-family: arial;
	font-size: 25px;
	color: #555555;
}